@*@{
        ViewBag.Title = "Home Page";
    }*@



<!DOCTYPE html>
<html>
<head>
    <link href="Site.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Neumont Chefspace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        @*<div class="content">
            <div class="recipeNav">
                <ul>
                    <li class="recipeButton">@Html.ActionLink("Great-o Potatoes", "Index", "Home")</li>
                    <li class="recipeButton">@Html.ActionLink("Artichoke Dip", "Index", "Home")</li>
                    <li class="recipeButton">@Html.ActionLink("Queso Dip", "Index", "Home")</li>
                    <li class="recipeButton">@Html.ActionLink("Chili", "Index", "Home")</li>
                    <li class="recipeButton">@Html.ActionLink("Chefspace", "Index", "Home")</li>
                </ul>
            </div>
            <div class="recipeDisp">
                <div class="content">
                </div>
            </div>
            <div class="bottom_block block_2">
                <div class="content">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
            </div>
        </div>*@
</body>

</html>